body {
    font-family: Arial, sans-serif;
    background-color: #4a4b48;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: black#c5e2e2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    background: linear-gradient(to bottom, #007BFF, #0056b3);
    padding: 20px;
    border-radius: 8px 8px 0 0;
    color: #3d0c23;
}

.round-image {
    border-radius: 50%;
    max-width: 150px;
    display: block;
    margin: 0 auto 20px;
    border: 5px solid #0a0000;
}

h1 {
    font-size: 24px;
    margin: 0;
}

h2 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.section {
    background-color: #fff;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    margin-bottom: 20px;
}

p, ul {
    color: #333;
}

a {
    color: #007BFF;
    text-decoration: none;
}
